<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestor Inteligente de Archivos - Inicio de sesión</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="background">
    <form action="" method="post">
      {% csrf_token %}
      <h3>Inicio de Sesión</h3>
      <label for="username">Usuario</label>
      <input type="text" placeholder="Email o Usuario" name="username" id="usuario" required>
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Contraseña" name="password" id="pass" required>
      <button type="submit">Acceder</button>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
      </div>
    </form>
  </div>
</body>
</html>
